<h1> Make a reservation! </h1>
<% if @reservation.errors.any? %>
<ul class="error_list">
  <% @reservation.errors.full.messages.each do |msg| %>
  <li><%= msg %> </li>
  <% end %>
</ul>
  <% end %>

  <%= form_for(@reservation) do |f| %>

	<div class="field">
  	<%= f.label :email %> <br>
  	<%= f.text_field :email %>
  	</div>

  	<div class="field">
  	<%= f.label :party_size %> <br>
  	<%= f.number_field :party_size %>
  	</div>

  	<div class="field">
  	<%= f.label :date %> <br>
  	<%= f.date_select :date %>

  	<div class="field">
  	<%= f.label :time %> <br>
  	<%= f.time_select :time, ampm: true %>
  	</div>

  	<div>
  <%= f.hidden_field :eatery_id, :value => @eatery_id %>
  <br>
  <div class ="actions">
    <%= f.submit %>
  </div>
  <% end %>

