<p id="notice"><%= notice %></p>

<h1> 
  <span class="glyphicon glyphicon-fire"></span> The Works <span class="glyphicon glyphicon-fire"></span> 
</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eateries.each do |eatery| %>
      <tr>
        <td><%= link_to eatery.name, eatery %></td>
        <td><%= link_to 'Edit', edit_eatery_path(eatery) %></td>
        <td><%= link_to 'Destroy', eatery, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eatery', new_eatery_path %>
